img {
    width: 180px;
    border-radius: 10px;
}

.textContainer {
    border: 1px solid #ccc;
    padding: 20px;
    width: auto;
    margin: 20px;
}

.empty-container {
    height: 200px;
    width: auto;
    border: 2px dashed rgb(0, 0, 0);
}

.updateStyleСontainer{
    height: 200px;
    width: auto;
    margin: 20px;
    border: 2px dashed rgb(255, 0, 0);
    background-color: #ccc;
}

.container1, .container2, .container3, .container4, .container5, .container6, .container7 {
    margin: 10px;
    padding: 10px;
}

button {
    border: none;
    text-decoration: none;
    color: white;
    background: #7284a3;
    box-shadow: 0 2px 1px #2c364e;
}

button:hover {
    background: #2c364e;
    box-shadow: none;
    position: relative;
    top: 2px;
}