.container {
    height: auto;
    background-color: rgb(245, 241, 241);
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.left-content {
    background-color: white;
    font-family: "Courier New";
    font-size: 14px;
    width: 13%;
    text-align: left;
    border: 2px solid lightgray;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    max-height: 400px;
}

.right-content {
    background-color: white;
    width: 80%;
    text-align: right;
    border: 2px solid lightgray;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
}

.d-none {
    display: none;
}